.datecard-root {
  cursor: pointer;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
}

.datecard-root:not(.active):hover {
  background: whitesmoke;
}

.datecard-bold {
  font-size: 20px;
  font-weight: bold;
}

.datecard-light {
  font-size: 20px;
  color: gray;
}

.active {
  background: lightgray;
}
